* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: block;
}

.image-container {
  display: block;
  margin-top: 25px;
  height: 400px;
  width: 75vw;
  text-align: center;
  color: #fff;
}
  
.img {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
  
.imageView__copyright {
  color: #8f8f8f;
}
  
.imageView__text {
  margin-top: 1rem;
}
  
.imageView__text h4, h5, span {
  font-size: 12px;
  letter-spacing: .5px;
  color: #ffffff;
}
  
.imageView__text h4 span {
  font-weight: bold;
  color: #fa1d04;
}
  
.imageView__text a {
  font-weight: bold;
  color: #fa1d04;
}
  
.imageView__text .button {
  border: #2b4ee7;
  background: #2b4ee7;
  margin-top: 10px;
  color: #ffffff;
}

@media(max-width: 600px) {
  .image-container {
    display: block;
    margin-top: 25px;
    height: 300px;
    width: 90%;
    text-align: center;
    color: #fff;
  }

}